<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <div class = "container-fluid row">
    <a class="navbar-brand" href="#">Profile</a>
    <div class="justify-content-end">
      <a (click)="updateUser()" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
        <span class="fas fa-check fontawsome_icon"></span>
      </a>
    </div>
  </div>
</nav>

<div class="container container-padding">

  <div *ngIf="updateFlag" class="alert alert-success">
    {{updateMsg}}
  </div>

  <h4 class="font-weight-light font-italic text-secondary">Hello {{user.username}}!</h4>
  <div class="form-group">
    <label for="Username">Username</label>
    <input id="Username" type="text" class="form-control" placeholder="username" [(ngModel)]="user.username"/>
    <label for="Password">Password</label>
    <input id="Password" type="password" class="form-control" placeholder="password" [(ngModel)]="user.password"/>
    <label for="FirstName">First Name</label>
    <input id="FirstName" type="text" class="form-control" placeholder="first name" [(ngModel)]="user.firstName"/>
    <label for="LastName">Last Name</label>
    <input id="LastName" type="text" class="form-control" placeholder="last name" [(ngModel)]="user.lastName"/>
  </div>
  <span class="help-block" *ngIf="updateFlag"></span>
  <div class="form-group"><a class="btn btn-primary btn-block" routerLink='/profile/{{user._id}}/website'>Websites</a></div>
  <div class="form-group"><a class="btn btn-danger btn-block" routerLink="/login">Logout</a></div>
</div>
