<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead text-monospace">This is the assignment home page for CS5610.</p>
  <hr class="my-4">
  <p class="font-weight-bold">Sample Login info:</p>
  <p class="font-italic font-weight-lighter align-middle">username: alice</p>
  <p class="font-italic font-weight-lighter align-middle">password: alice</p>
</div>

<div class="container container-padding">
  <div *ngIf="errorFlag" class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Login</h1>
  <form (ngSubmit)="login()" #f="ngForm">

    <div class="form-group">
      <input type="text" name="username" placeholder="username" class="form-control" ngModel required #username="ngModel">
    </div>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>

    <div class="form-group">
      <input type="password" name="password" placeholder="password" class="form-control" ngModel required #password="ngModel">
    </div>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
    </span>

    <div class="form-group">
      <button [disabled]="!f.valid" class="btn btn-primary btn-block" type="submit">Login</button>
    </div>

    <a href="/facebook/login" class="btn btn-primary btn-block">
      <span class="fa fa-facebook"></span>
      Facebook
    </a>

    <div class="form-group">
      <a routerLink="/register" class="btn btn-success btn-block">Register</a>
    </div>
  </form>
</div>

