<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <div class = "container-fluid row">
    <a routerLink="../" class="navbar-text black-text pull-left icon-padding">
      <span class="fas fa-chevron-left fontawsome_icon"></span>
    </a>
    <a routerLink="./" class="navbar-brand">Edit Page</a>
    <button (click)="createPage()" [disabled]="!p.valid" class="btn btn-light float-right cl-icon-padding">
      <span class="fas fa-check fontawsome_icon"></span>
    </button>
  </div>
</nav>

<div class="container container-padding">
  <form (ngSubmit)="createPage()" #p="ngForm">
    <label for="New-Page-Name">Name</label>
    <input id="New-Page-Name" type="text" class="form-control" placeholder="Page Name" name="pageName" ngModel required #pageName="ngModel"/>
    <span class="help-block" *ngIf="!pageName.valid && pageName.touched">
      Please enter page name!
    </span>
    <label for="New-Page-Title">Title</label>
    <input id="New-Page-Title" type="text" class="form-control" placeholder="Page Title" name="pageDescription" [(ngModel)]="pageDescription"/>
    <button class="btn btn-primary btn-block mt-3" type="submit" [disabled]="!p.valid">Create</button>
  </form>
</div>

<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-end">
    <a routerLink="/profile" class="navbar-link navbar-text cl-icon-padding">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
