<!--The content below is only a placeholder and can be replaced.-->
<div style="font-family:Georgia; text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://www.warrenphotographic.co.uk/photography/bigs/43371-French-Bulldog-puppy-lying-on-his-side-white-background.jpg">
</div>
<h2 style="font-family:Georgia;">Here are some information you should know: </h2>
<ul>
  <li>
    <h4 style="font-family:Verdana;">Dog breed:</h4>
    <p style="font-family:courier;">French Bulldog</p>
  </li>
  <li>
    <h4 style="font-family:Verdana;">Life span:</h4>
    <p style="font-family:courier;">10 – 12 years</p>
  </li>
  <li>
    <h4 style="font-family:Verdana;">Temperament:</h4>
    <p style="font-family:courier;">Affectionate, Lively, Patient, Easygoing, Alert, Sociable, Keen, Athletic, Playful, Bright</p>
  </li>
</ul>

<router-outlet></router-outlet>
