<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <div class = "container-fluid row">
    <a routerLink="../" class="navbar-text black-text pull-left icon-padding">
      <span class="fas fa-chevron-left fontawsome_icon"></span>
    </a>
    <a routerLink="./" class="navbar-brand">Edit Page</a>
    <a (click)="updatePage()" class="black-text navbar-text pull-right icon-padding">
      <span class="fas fa-check fontawsome_icon"></span>
    </a>
  </div>
</nav>

<div class="container container-padding">
  <label for="Edit-Page-Name">Name</label>
  <input id="Edit-Page-Name" type="text" class="form-control" placeholder="Blog Post" [(ngModel)]="page.name"/>
  <label for="Edit-Page-Title">Title</label>
  <input id="Edit-Page-Title" type="text" class="form-control" placeholder="Page Description" [(ngModel)]="page.description"/>
  <a class="btn btn-success btn-block mt-3" (click)="updatePage()">Update</a>
  <a class="btn btn-danger btn-block" (click)="deletePage()">Delete</a>
</div>

<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-end">
    <a routerLink="/profile" class="navbar-link navbar-text cl-icon-padding">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
