<!--<label class="mt-1" for="WidgetYoutubeName">WidgetId</label>-->
<!--<input id="WidgetYoutubeName" type="text" class="form-control" placeholder="{{widget._id}}" disabled/>-->
<!--<label class="mt-1" for="WidgetYoutubeURL">URL</label>-->
<!--<input id="WidgetYoutubeURL" type="url" class="form-control" placeholder="URL" [(ngModel)]="widget.url"/>-->
<!--<label class="mt-1" for="WidgetYoutubeWidth">Width</label>-->
<!--<input id="WidgetYoutubeWidth" type="text" class="form-control" placeholder="100%" [(ngModel)]="widget.width"/>-->

<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <div class = "container-fluid row">
    <a routerLink="../" class="navbar-text white-text pull-left icon-padding">
      <span class="fas fa-chevron-left fontawsome_icon"></span>
    </a>
    <a routerLink="./" class="navbar-brand">Widget Edit</a>
    <a (click)="updateWidget()" class="black-text navbar-text pull-right icon-padding">
      <span class="fas fa-check fontawsome_icon"></span>
    </a>
  </div>
</nav>

<div class="container container-padding">
  <label for="WidgetYoutubeName">WidgetId (Cannot change)</label>
  <input id="WidgetYoutubeName" type="text" class="form-control" placeholder="{{widget._id}}" disabled/>
  <label for="WidgetYoutubeURL">URL</label>
  <input id="WidgetYoutubeURL" type="url" class="form-control" placeholder="URL" [(ngModel)]="widget.url"/>
  <label for="WidgetYoutubeWidth">Width</label>
  <input id="WidgetYoutubeWidth" type="text" class="form-control" placeholder="100%" [(ngModel)]="widget.width"/>

  <a class="btn btn-success btn-block mt-2" (click)="updateWidget()">
    Update
  </a>
  <a class="btn btn-danger btn-block" (click)="deleteWidget()">
    Delete
  </a>
</div>

<nav class="navbar navbar-fixed-bottom navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-end">
    <a routerLink="../../../../../../" class="avbar-link navbar-text cl-icon-padding">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
