<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid row">
    <div class="col-sm-4">
      <div class="container-fluid">
        <a routerLink='../' class="navbar-link mr-3">
          <span class="fas fa-chevron-left fontawsome_icon"></span>
        </a>
        <a routerLink='../' class="navbar-brand">Websites</a>
        <a routerLink='../new' class="navbar-link navbar-text float-right cl-text-white cl-icon-padding">
          <span class="fas fa-plus fontawsome_icon"></span>
        </a>
      </div>
    </div>
    <div class="col-sm-8 mx-auto">
      <div class="container-fluid">
        <a routerLink='./' class="cl-text-white navbar-brand cl-text-bold">Edit Website</a>
        <button (click)="createWebsite()" [disabled]="!w.valid" class="btn btn-light float-right cl-icon-padding">
          <span class="fas fa-check fontawsome_icon"></span>
        </button>
      </div>
    </div>
  </div>
</nav>


<div class="container-fluid row">
  <div class="col-sm-4 border-right">
    <ul class="list-group list-group-flush" *ngFor="let web of websites">
      <li class="list-group-item">
        <a routerLink="./{{web._id}}"><span class="fas fa-cog fontawsome_icon float-right icon-padding"></span></a>
        <a routerLink="../{{web._id}}/page">{{web.name}}</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-8 container-padding">
    <form (ngSubmit)="createWebsite()" #w="ngForm">
      <label for="Website-Name">Name</label>
      <input id="Website-Name" type="text" class="form-control" placeholder="Name" name="websiteName"
             ngModel required #websiteName="ngModel"/>
      <span class="help-block" *ngIf="!websiteName.valid && websiteName.touched">
        Please enter website name!
      </span>
      <label for="Website-Description">Description</label>
      <textarea id="Website-Description" class="form-control" rows="5" placeholder="Description"
                name="websiteDescription" [(ngModel)]="websiteDescription">
      </textarea>
      <button class="btn btn-primary btn-block mt-3" type="submit" [disabled]="!w.valid">Create</button>
    </form>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-end">
    <a routerLink='../../' class="navbar-link navbar-text cl-icon-padding">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
